/* 中級.01
  p {
    font-size:30px;
    font-weight: bold;
  }
  button {
    color: #fff;
    border-radius: 5px;
    padding: 10px;
  }
  button.up {
    background: #40b983;
    border: none;
  }
  button.down {
    background: red;
    border: none;
  } */

/* 初級.07
.alert_btn {
  width: 30%;
  padding: 1rem;
  margin: 1rem auto;
  color: #ffffff;
  background: #40b983;
  font-weight: bold;
} */

/* No.06
.text-card {
  width: 50%;
  margin: 30% auto;
  padding: 2rem;
  background: #40b983;
  color: #ffffff;
}
.text-card p:nth-child(1) {
  font-weight: bold;
  font-size: 2rem;
} */

/* No.04
.text {
  margin: 30% auto;
  font-size: 2rem;
  text-align: center;
  border-bottom:2px solid #35495E;
  width: 50%;
}
.text-success {
  color: #40b983;
}
.text-danger {
  color: #F1936E;
} */

/* No.03
.active {
  width: 30%;
  margin: 30% auto;
  padding: 1rem;
  background:#40B983;
  color: #ffffff;
  text-align: center;
  box-shadow: 6px 6px #ddd;
} */