<!DOCTYPE html>
<html lang="js">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>NinjaCode</title>
</head>
<body>
  <div id="app">
    <p>{{ count }}</p>
    <button class="up" v-on:click="countUp">
      プラス
    </button>
    <button class="down" v-on:click="countDown">
      マイナス
    </button>
  </div>

  <!-- 初級No.09
  <div id="app">
    <p>{{ greet }}</p>
    <button v-on:click="reverseText">文字が反対になるよ!</button>
  </div> -->

  <!-- No.07
  <div id="app">
    <p>{{ greet }}</p>
    <button v-on:click="alertText" class="alert_btn">Alert!</button>
  </div> -->
  
  <!-- No.06
  <div id="app" class="text-card">
    <div v-if="random == 'fun'">
      <p>NinjaCodeはすごく楽しい!</p>
      <p>楽しく学べるプログラミング</p>
    </div>
    <div v-else-if="random == 'lazy'">
      <p>NinjaCODEは退屈だ</p>
      <p>非常に退屈だ...</p>
    </div>
    <div v-else="">
      <p>NinjaCODE 難しい</p>
      <p>難しいなあ</p>
    </div>
  </div> -->

  <!-- No.05
  <div id="app" class="text-card">
    <div v-if="random == 'fun'">
      <p>NinjaCodeはすごく楽しい!</p>
      <p>楽しく学べるプログラミング</p>
    </div>
    <div v-else-if="random == 'lazy'">
      <p>NinjaCODEは退屈だ</p>
      <p>非常に退屈だ...</p>
    </div>
    <div v-else="">
      <p>NinjaCODE 難しい</p>
      <p>難しいなあ</p>
    </div>
  </div> -->

  <!-- No.04
  <div id="app">
    <div v-if="show">
        <p class="text text-success">NinjaCODE 楽しい!!</p>
    </div>
    <div v-else="">
        <p class="text text-danger">NinjaCODE 難しい....</p>
    </div>
  </div> -->
  
  <!-- No.03
  <div id="app">
    <div v-bind:class="{active: isActive}">
        Active!!
    </div>
  </div> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>